<title>
Software Engineer For Hire In York, PA
</title>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a graduate of York College of Pennsylvania where I recently recieved my Bachelors of Science for Computer Science.
            Recently I just completed a successful internship at York Imperial Plastics where I served as an IT Intern. While here, I created 
		new press monitoring and data collection softwares, as well as assisted in various IT support tasks around the factory. I helped with everything
		from internet connection problems to hardware issues and everything in between. I also helped to maintain and develop the companies Microsoft Access database. 
        </p>
        <p>
		Currently, I am serving as a part time Intern with a mobile app called ZeerSafe. At ZeerSafe I have been assisting in 
		researching solutions and helping to lay out plans for future development and implementation of new features.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Accomplishments</h3>
		    <ul>
    			<li>
            Built press monitoring software in Python that successfully transfers data produced by the press to a database automatically without any human interaction.
    			</li>
          <li>
            Built an information collection form for various positions, basically eliminating that paperwork and streamlining the data collection process.
          <li>
            Troubleshot countless IT issues throughout the factory, ranging from label printer issues to Microsoft Access issues. 
          <!--
            <li>
            Presented "Understanding the GIL to Prevent Race Conditions" at RubyConf 2016.
    			</li>
    			<li>
            Awarded patent for novel approach to item normalization in 3rd party catalog data feeds.
          </li>
        -->
		    </ul>
	    </div>
    </div>
  </div>
</section>
