<title>
Software Engineer For Hire In York, PA
</title>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am currently a student at York College of Pennsylvania where I am studying for my Bachelors degree in Computer Science. I am expected to graduate in may of 2020.
            I am also currently working as a Software Engineering Intern at York Imperial Plastics in York, PA where I work mainly on press monitoring software and various automation softwares. 
            I also serve as an IT Specialist here, where I get the opportunity to troubleshoot a wide variety of issues and problems around the factory. 
        </p>
        <p>
           I have an interest in process automation and optimization.
           At York Imperial, I have been blessed with the opportunity to introduce Python automation to a company that was, and still is, heavily reliant on 
           proprietary software. During my time here, I have helped to automate daily data transfer between multiple different databases. I have 
           also gotten the chance to optimize the collection of operator production forms. By using the software that I have created, the company is on the fast track 
           to eliminating paperwork for the press floor operators. 
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Accomplishments</h3>
		    <ul>
    			<li>
            Built press monitoring software in Python that successfully transfers data produced by the press to a database automatically without any human interaction.
    			</li>
          <li>
            Built an information collection form for various positions, basically eliminating that paperwork and streamlining the data collection process.
          <li>
            Troubleshot countless IT issues throughout the factory, ranging from label printer issues to Microsoft Access issues. 
          <!--
            <li>
            Presented "Understanding the GIL to Prevent Race Conditions" at RubyConf 2016.
    			</li>
    			<li>
            Awarded patent for novel approach to item normalization in 3rd party catalog data feeds.
          </li>
        -->
		    </ul>
	    </div>
    </div>
  </div>
</section>
