<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Data Science</b>. I've always wondered how companies use our data to make suggestions and target advertisements, so naturally Data Science has been an interest of mine for a while. 
			  </li>
			  <li>
				<b>Reviving Old Computers</b>. One of my favorite things to do with old computers is seeing the difference that some new parts and a new operating system can make in a computers performance. 
			 </li>
			 <li>
				<b>Linux</b>. I started using Linux at the beginning of my junior year and I've been in love ever since. I currently have Mint on my laptop and Ubuntu on a desktop. 
			 </li>
			 <li>
				<b>Fly Fishing</b>. Nothing technical or special about it, I just enjoy it. 
			 </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Projects</h3>
		  <ul>
			  <h3>Recent Projects</h3>
  			<li>
		  Home Price Predictor in Python - I recently completed an independent study for my school where I chose to explore different machine learning algorithms to see how accurate they can be 
		  when it comes to predicting home prices based on a given set of data. I found that K-Nearest Neighbors worked very well with my data set, and my implementation 
		  was given ranges of prices of houses and could place a house in the correct price range with a consistent %90+ accuracy.
			</li>
			<li>
			Java Text Based Web Adventure Game - For my Software Engineering class I worked with 2 other students to create a text based web application adventure game in Java. I was in charge of implementing all the classes my teammates created
			into a functioning game with a user friendly front end. 
		</li>
		</ul>
  		    <h3>Current Projects </h3>
  		   <ul>
  			<li>
           Repurposing old workstations into a functioning home server - I was given a few old PCs from work that were to be recycled so I am currently working on reusing parts from each PC to create one (hopefully soon) working Ubuntu home server for little to no cost.
            </li>
		    <li>
		   Instaram Automation Bot in Python - I took some source code for an open source Instagram bot and I am currently working on adding onto it so that the bot will behave more randomly as to not trigger any Instagram bot filters. I also plan on adding automated posting in the near future. 
		   Ideally I would be able to run this bot on my repurposed home server one day.  
			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
