<section class="tout" id="services">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Services</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    Freelance Services I Offer:
        </p>
			<ul>
			  <li>
				 <b>Web Scraping Solutions</b>
			  </li>
        <li>
        <b>Email Automation Solutions </b>
        </li>
	<li>
		<b>Instagram Bot Development</b>
	</li>
        <li>
        <b>Social Media Management & Consulting </b>
        </li>
        <li>
        <b>Virtual CS Tutoring </b>
        </li>
        <li>
        <b>Business Consulting </b>
        </li>
	
			</ul>
		</div>
    </div>
  </div>
</section>
